:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #757575
}

* {
    box-sizing: inherit;
}

html {
    /* 62.5% ==> 10px */
    font-size: 62.5%;
    line-height: 2.3rem;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.header-item.active {
    background-color: black;
}
.header-item.active .header-link {
    color: white;
    border-radius: 4px;
}

