/* TABLET AND MOBILE */
@media (max-width: 1023px) {
    .hide-on-tablet-mobile {
        display: none;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }

    .menu-img {
        width: 100%;
    }
}

/* MOBILE  */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }

    .menu-img {
        width: 100%;
    }   
}
